################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################



*.exe
*.cache
*.editorconfig

/.vs
/Medical/bin/Debug/net5.0
/Medical/obj

