@model Medical.Models.Doctor
@{
    ViewData["Title"] = "Create";
}

<div class="row" style="margin-bottom:100px">
    <div class="col-md-4">
        <form asp-action="Create">
            <h4 style="padding: 20px 0 0 0">醫生評論</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <table>
                <thead>
                    <tr>
                        <th style="padding: 0 200px 0 0 ">
                            <img width="350" height="350" src="~/images/@Model.PicturePath" />
                        </th>

                        <th>
                            <input type="hidden" name="DoctorId" value="@Model.DoctorId" />
                            <label style="font-size:24px ;font-weight:bold ;">醫師姓名：</label>
                            <label style="font-size:24px">@Model.DoctorName</label>
                            <div class="col-md-10">
                                <label style="font-size:24px">給予分數：</label>
                                <select name="RatingTypeId" style="width:40px" id="selDemo">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select><br>
                                <textarea style="resize: none" name="Rating" rows="10" cols="55" id="txtDemo"></textarea>
                            </div>
                            <div class="form-group" style="padding-left:425px">
                                <input type="submit" value="送出" class="btn btn-primary" />
                            </div>
                        </th>

                    </tr>
                </thead>
            </table>
        </form>
    </div>
</div>
<button id="addDemo" class="btn btn-primary">Demo</button>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#addDemo").click(() => {
            $("#selDemo").val("5");
            $("#txtDemo").val("醫師幽默又風趣~");
        })

    </script>

}
