
@{
    ViewData["Title"] = "ChooseView";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";
}

<div class="mt-2"  style="width:800px; margin:auto;border:1px solid black;background-color:black">

    <div style="width:80%;margin:auto;background-color:black">
        <div class="mt-5 text-center" style="border-radius:15px;width:100%;height:5em; background-color:whitesmoke">
            <a href="~/Admin/AdminProduct/productManage" class="btn " style="height:100%;width:100%; font-size:32px;font-weight:bold">產品管理</a>
        </div>
        <div class="mt-5 text-center" style="border-radius:15px;width:100%;height:5em; background-color:whitesmoke">
            <a href="~/Admin/AdminProduct/QueryAllOrders" class="btn  " style="height: 100%; width: 100%; font-size: 32px; font-weight: bold">訂單管理</a>
        </div>
        <div class="mt-5 text-center" style="border-radius:15px;width:100%;height:5em; background-color:whitesmoke">
            <a href="~/Admin/AdminProduct/DeleteReviews" class="btn " style="height: 100%; width: 100%; font-size: 32px; font-weight: bold">評價管理</a>
        </div>
        <div class="mt-5 text-center" style="border-radius:15px;width:100%;height:5em; background-color:whitesmoke;margin-bottom:3em">
            <a href="~/Admin/AdminProduct/CouponList" class="btn " style="height: 100%; width: 100%; font-size: 32px; font-weight: bold">優惠券管理</a>
        </div>
        <div class="mt-5 text-center" style="border-radius:15px;width:100%;height:5em; background-color:whitesmoke;margin-bottom:3em">
            <a href="~/Admin/AdminProduct/PowerB" class="btn " style="height: 100%; width: 100%; font-size: 32px; font-weight: bold">數據分析查閱</a>
        </div>
    </div>

</div>