
@{
    ViewData["Title"] = "PowerB";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";
}

<h1>商城數據分析</h1>

<iframe title="Medical_Product_PowerBI" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiYjY0NzEwZTgtYjA5Zi00MWRjLWI3MWMtOGM0ZDA4NDcxMzU5IiwidCI6IjdkZmNkY2YxLWI1NWMtNGYyOS1iNTcxLTUwNThlNjNiNjZkZCIsImMiOjEwfQ%3D%3D&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>