@model Medical.Models.CaseRecord

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Doctors/Doctor_Layout.cshtml";
}

<h1>病患紀錄修改</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="CaseId" class="control-label"></label>
                <input asp-for="CaseId" class="form-control" />
                <span asp-validation-for="CaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.MemberName" class="control-label">病患名稱</label>
                <input asp-for="Member.MemberName" class="form-control" disabled/>
                <span asp-validation-for="Member.MemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatmentDetail.TreatmentDetail1" class="control-label">治療科別</label>
                <input asp-for="TreatmentDetail.TreatmentDetail1" class="form-control" disabled/>
                <span asp-validation-for="TreatmentDetail.TreatmentDetail1" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ReserveId" class="control-label"></label>
                <input asp-for="ReserveId" class="form-control" />
                <span asp-validation-for="ReserveId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosticRecord" class="control-label">病患診斷</label><br>
                <textarea asp-for="DiagnosticRecord" class="form-control" style="width: 500px; height: 200px; font-size:15px ;resize: none"></textarea>
                <span asp-validation-for="DiagnosticRecord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>  
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
