@model IEnumerable<Medical.ViewModel.NNewsViewModel>

@{
    ViewData["Title"] = "List";
}

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h3 class="display-3 text-white animated zoomIn">最新消息</h3>
        </div>
    </div>
</div>
<!-- Hero End -->

@*=====================左側搜尋設計========================*@
<div class="container-fluid">
    <div class="row">
        <div class="col-3 mb-4">

            <div class=" ">
                @using (Html.BeginForm())
                {
                    @*========查詢按鍵============*@
                    <div class="input-group" style="display:block; text-align:left;margin-block:30px">
                        @Html.TextBox("txtKeyword", "", new { @class = "font-weight-bold", style = "font-size:14px;border-radius:15px;", @placeholder = "search..." })
                        <button type="submit" class="btn btn-lg btn-default ">
                            <i class="fa fa-search">查詢</i>
                        </button>
                    </div>
                }



                @*===熱搜標題===*@
                <div style="margin-block:20px">
                    <a>
                        <i class="" style="font-size: 20px; font-weight: bold;text-align:left">熱搜關鍵字 : </i>
                    </a>
                </div>
                @*====熱搜按鈕====*@
            <div style="margin:10px">
                @*需要更改*@
                    <a href="~/NNewsFront/List?txtKeyword=Smile" class="col-3 btn btn-outline-primary" style="border-radius:15px">Smile</a>
                    <a href="~/NNewsFront/List?txtKeyword=近視" class="col-3 btn btn-outline-primary" style="border-radius:15px">近視</a>
                    <a href="~/NNewsFront/List?txtKeyword=雷射" class="col-3 btn btn-outline-primary" style="border-radius:15px">雷射</a>
            </div>
            <div style="margin:10px">
                <a href="~/NNewsFront/List?txtKeyword=白內障" class="col-4 btn btn-outline-primary" style="border-radius:15px">白內障</a>
                <a href="~/NNewsFront/List?txtKeyword=孩童" class="col-3 btn btn-outline-primary" style="border-radius:15px">孩童</a>
                
            </div>

                @*===Categories的搜尋===*@
                @*====搜尋標題====*@
                <div style="margin-block:20px">
                    <a>
                        <i class="" style="font-size: 20px; font-weight: bold;text-align:left">另類搜尋 : </i>
                    </a>
                </div>

                <div class="card-input" style="margin-left:10px;margin-block:10px">
                    <a href="~/NNewsFront/List?txtKeyword=新聞報導" class="btn btn-outline-primary" style="border-radius: 15px; font-size: 24px; font-weight: bold">新聞報導</a>
                </div>
                <div class="card-input" style="margin-left:10px;margin-block:10px">
                    <a href="~/NNewsFront/List?txtKeyword=名人經驗" class="btn btn-outline-primary" style="border-radius: 15px; font-size: 24px; font-weight: bold">名人經驗</a>
                </div>
                <div class="card-input" style="margin-left:10px;margin-block:10px">
                    <a href="~/NNewsFront/List?txtKeyword=醫生分享" class="btn btn-outline-primary" style="border-radius: 15px; font-size: 24px; font-weight: bold">醫生分享</a>
                </div>

            </div>
        </div>
        @*=====================左側搜尋設計結束========================*@
        @*=========================文章設計===========================*@
        <div class="col-9">
            <div class="container-fluid">
                <div class="row">

                    @foreach (var item in Model)
                    {

                        <div class="col-4 mb-4">
                            <div class="card h-100">
                                @*===文章圖片===*@
                                <div>
                                    <img src="~/uploads/@item.NewsPicturePath" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    @*===文章標題===*@
                                    <a>
                                        <i class="card-title" style="font-size: 20px; font-weight: bold;">@item.NewsTitle</i>
                                    </a>
                                    @*===日期===*@
                                    <a style="float: right; text-align: right;">
                                        <i class="fa fa-calendar">@item.PublishDate</i>
                                    </a>
                                    @*===文章內容===*@
                                @*<p class="card-text">@item.NewsContent</p>*@
                                </div>
                                @*===文章連結===*@
                            <div class="card-input" style="margin-left:10px;margin-block:10px">
                                <a href="~/NNewsFront/ListDetail?id=@item.No" class="btn btn-outline-primary" style="border-radius:15px">Read more...</a>
                            </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
