@model Medical.ViewModel.CLoginViewModel

@{
    ViewData["Title"] = "ForgetPassword";
}

<h1>重新設定密碼</h1>

<h4>請填寫你註冊的信箱</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgetPassword" id="demo-form" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="txtAccount" class="control-label"></label>
                <input asp-for="txtAccount" class="form-control" id="email" />
                <span asp-validation-for="txtAccount" class="text-danger"></span>
            </div>
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="寄送確認信" class="g-recaptcha btn btn-primary" data-sitekey="6Lfk2AkhAAAAAOtIbeGmRkHUqjne2XfLYmM21Kg3" data-callback="onSubmit" />

                <input type="button" value="EmailDemo" class="btn btn-primary btn-block" id="emailDemo" />
            </div>

        </form>
    </div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        $("#emailDemo").click(() => {
            $("#email").val("giraffegod@gmail.com");
        })
        function onSubmit(token) {
            document.getElementById("demo-form").submit();
        }
    </script>
}
