@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>登入成功</h1>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@{
    <script>setTimeout("location.href='https://localhost/'", 1200);</script>

}