@model Medical.ViewModel.CLoginViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<h1>重設密碼</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <input asp-for="txtAccount" class="form-control mb-2" id="email" hidden="hidden" />
            <div class="form-group">
                <label>您的新密碼</label>
                <input type="password" asp-for="txtPassword" class="form-control"  id="pass" />
                <span asp-validation-for="txtPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="確認修改" class="btn btn-primary"/>
            </div>
        </form>
        <br />
        <input type="button" value="密碼Demo" class="btn btn-primary btn-block" id="pwDemo" />
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#pwDemo").click(() => {
            $("#pass").val("aaaa1111");

        })
    </script>
}
